.__input-form {
    width: 100%;
    border: none;
    background-color: #e9e3e3;
    border-bottom: 1px solid #c3c2c2;
    outline: none;
    color: #555556;
    font-size: 0.8em;
    padding: 5px;
    transition: border 0.5s ease-in;
}


.__label-form {
    font-size: 0.8em;
    display: block;
    color: #17a2b8
}


input[type="file"] {
    display: none;
} 

.__custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

