.fa-angle-right {
    color: white;
    font-size: 0.8em;
}

.__product-name {
    font-size: 1em;
}

.fa-trash {
    font-size: .9em;
}

.__product-description {
    font-size: 1.1em;
}

.__width-img-cart {
    width: 35%;
}

.__product-price {
    font-size: .9em;
}

.__btn-checkout {
    background-color: transparent;
    border: 1px solid #ef7752;
    color: #ef7752;
}

.__btn-checkout:hover {
    background-color: #946d62;
    color: #fff;
}

.__cart-resume,
.__coupon {
    background-color: #ece8dd;
}

.__resume-values div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.__payment {
    cursor: pointer;
}

@media(min-width:768px) {

    .__width-img-cart {
        width: 100%;
    }

}