/*--------------Hero--------------*/
.__hero-index {
	background-image: url(/img/reading-hero.webp);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 60vh
}

.__hero-data {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: auto;
	margin: auto 0
}

.__hero-data p {
	color: #fff;
	font-family: Merriweather, serif;
	font-size: 59px;
	font-weight: 700;
	line-height: 59px
}

@media (min-width:768px) {
	.__hero-data p {
		font-size: 90px;
		line-height: 90px
	}
}

/*--------------Carousel--------------*/

.item h3 {
	font-size: 14px
}

.item h6 {
	font-size: 11px
}

.__cover-bestseller img {
	-webkit-box-shadow: 0 7px 6px 0 rgba(176, 173, 176, 1);
	-moz-box-shadow: 0 7px 6px 0 rgba(176, 173, 176, 1);
	box-shadow: 0 7px 6px 0 rgba(176, 173, 176, 1)
}

.__cover-bestseller {
	position: relative
}

.__cover-bestseller .__options {
	position: absolute;
	display: flex;
	bottom: 0;
	right: 15%
}

.__options-add-to-cart,
.__options-add-to-fav {
	height: 30px;
	width: 30px;
	background-color: #fff8dc;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all .8s ease;
	position: relative
}

.__options-add-to-cart span {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	color: #000;
	font-size: 14px;
	height: 100%;
	font-weight: 700
}

.__options-add-to-cart:hover {
	width: 70px;
	border-radius: 60px;
	justify-content: left;
	padding-left: 8px
}

.__options-add-to-cart:hover span {
	display: flex;
	padding-right: 12px
}

.__betsellers {
	width: 100%
}

@media (min-width:1025px) {
	.__betsellers {
		width: 75%;
		margin: 0 auto
	}
}

/*--------------Welcome--------------*/
.__welcome {
	background-color: #ece8dd;
	color: #555556;
	width: 100%
}

.__welcome h1 {
	font-size: 2em;
	font-family: 'PT Serif', serif
}

.__welcome h2 {
	font-size: 1.1em
}

.__welcome-options {
	font-size: .8em
}

.__welcome i {
	font-size: 3em
}

@media (min-width:1024px) {
	.__welcome {
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center
	}
	.__welcome h1 {
		font-size: 3em;
		font-family: 'PT Serif', serif
	}
	.__welcome h2 {
		font-size: 1.3em
	}
	.__welcome-options {
		font-size: 1.1em
	}
	.__welcome i {
		font-size: 3em
	}
}

/*--------------Random cite--------------*/
.__random-cite {
	background-image: url(/img/quote.webp);
	background-size: cover;
	background-position: center center;
	height: 60vh
}

@media (min-width:768px) {
	.__random-cite p {
		font-size: 1.5em
	}
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animated.delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}

.animated.delay-2s {
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}

.animated.delay-3s {
	-webkit-animation-delay: 3s;
	animation-delay: 3s
}

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}