.__social-links {
    background-color: rgb(245, 151, 122);
    width: 100%;
    color: #FFF;
    font-size: 1.5em;
}

footer {
    color: #555556;
}

footer a {
    font-size: 0.9em;
    font-weight: bold;
}

footer a:hover {
    color: #ef7752;
    font-weight: bold;
}