body {
    background-color: #e9e3e3;
    color: #555556;
    font-weight: 300;
}

main {
    min-height: 100vh;
}

.nav-item .nav-link {
    color: #555556;
    font-weight: 300;
    border-radius: 3px;
}

.nav-item .nav-link.active {
    background-color: #17a2b8;
    color: #fff !important;
}

.navbar{
    align-items: flex-start;
}